<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.armjld.eb3tly">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity">
        <activity android:name=".LocationManeger.LocationForSup"></activity>
        <activity android:name=".LocationManeger.LocationForDelv" />
        <activity
            android:name=".Utilites.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".Wallet.MyWallet" />
        <activity android:name=".SignUp.New_SignUp" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".LocationManeger.MyLocation"
            android:label="@string/title_activity_my_location" />
        <activity
            android:name=".Orders.Maps_User_Location"
            android:label="@string/title_activity_maps__user__location" />
        <activity android:name=".Orders.MapsActivity" />
        <activity android:name=".Orders.OrderInfo" />
        <activity android:name=".Requests.RequestsForSup" />
        <activity android:name=".Passaword.Forget_Password" />
        <activity
            android:name=".main.Login_Options"
            android:screenOrientation="portrait" />
        <activity
            android:name=".messeges.Messages"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chat.Chats"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.Admin_Confirm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".confermations.Account_Confirm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.Admin_Delete_Statics"
            android:screenOrientation="portrait" />
        <activity
            android:name=".delets.Delete_Delivery_From_Sup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".delets.Delete_Reaon_Delv"
            android:screenOrientation="portrait" />
        <activity
            android:name=".delets.Delete_Reason_Supplier"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AdminReports"
            android:screenOrientation="portrait" />

        <service
            android:name=".Utilites.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Profiles.NewProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profiles.supplierProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Intros.IntroFirstRun"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Orders.EditOrders"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Orders.OrdersBySameUser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Orders.AddOrders"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Orders.OneOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Utilites.Filters"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.ReplyByAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Utilites.HowTo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Utilites.Terms"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.Admin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp.Signup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Utilites.UserSetting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Passaword.ChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Passaword.ForgetPass"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Utilites.About"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Intros.introSup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Utilites.Conatact"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Intros.intro2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Notifications.Notifications"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name=".Activities.Notifications" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Utilites.StartUp"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.firebase.auth.internal.FederatedSignInActivity"
            android:launchMode="standard"
            tools:replace="android:launchMode" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/ic_profile_background" />
    </application>

</manifest>